.tab-content { padding-top: 20px; }
        .image-overlay {
        width: 120px; 
        height: 120px;
        background-color: rgba(0, 0, 0, 0.5); 
        opacity: 0; 
        transition: opacity 0.3s ease; 
        cursor: pointer;
        pointer-events: none;
    }

    .position-relative.editable:hover .image-overlay {
        opacity: 1;
        pointer-events: auto; 
    }