 :root {
        --fc-border-color: #eceef1;
        --fc-button-text-color: #697a8d;
        --fc-button-bg-color: rgba(67, 89, 113, 0.05);
        --fc-button-border-color: transparent;
        --fc-button-hover-bg-color: rgba(67, 89, 113, 0.15);
        --fc-button-hover-border-color: transparent;
        --fc-button-active-bg-color: #696cff;
        --fc-button-active-border-color: #696cff;
        --fc-today-bg-color: rgba(105, 108, 255, 0.04);
        --fc-neutral-bg-color: #f5f5f9;
    }

    .fc {
	     font-family: 'Public Sans', sans-serif;
	     color: #566a7f; 
     }
    .fc .fc-button { 
	    box-shadow: none; 
	    font-weight: 600; 
	    padding: 0.4rem 0.8rem;
	    border-radius: 0.375rem;
	    text-transform: capitalize;
    }
    
    .fc .fc-button-primary:not(:disabled).fc-button-active, 
    .fc .fc-button-primary:not(:disabled):active { 
    	color: #ffffff; 
    }
    
    .fc .fc-toolbar-title { 
	    font-size: 1.25rem;
	    font-weight: 700;
	    margin-bottom: 0; 
    }
    
    .fc .fc-col-header-cell {
	     padding: 10px 0; 
	     border: none;
	     background-color: var(--fc-neutral-bg-color); 
     }
     
    .fc .fc-col-header-cell-cushion { 
    	color: #a1acb8; 
    	font-weight: 600; 
    	text-decoration: none; 
    }
    
    .fc .fc-daygrid-day-number {
    	padding: 8px 12px; 
    	text-decoration: none; 
    	color: inherit; 
    }
    
    .fc .fc-day-sun .fc-daygrid-day-number {
    	color: #ff3e1d; 
    }
    
    .fc .fc-day-sat .fc-daygrid-day-number {
    	color: #007bff; 
    }
    
    .fc-scroller::-webkit-scrollbar {
   		width: 0px; 
    	background: transparent; 
    }
    
    .fc .fc-daygrid-day-frame {
    	min-height: 105px; 
    }

    .holiday-event, 
    .commute-go-event, 
    .commute-leave-event, 
    .commute-late-event {
        background-color: transparent !important; 
        border: none !important;
        border-radius: 0 !important;
        padding-left: 8px !important;
        margin-bottom: 2px !important;
        box-shadow: none !important;
        cursor: pointer;
    }

    .holiday-event .fc-event-main, 
    .commute-go-event .fc-event-main,
    .commute-leave-event .fc-event-main,
    .commute-late-event .fc-event-main {
        color: #3b4352 !important; 
        font-weight: 700 !important;
    }

    .holiday-event {
     	border-left: 4px solid #ff3e1d !important; 
     }      
    .commute-go-event { 
    	border-left: 4px solid #007bff !important; 
    }   
    .commute-leave-event { 
    	border-left: 4px solid #71dd37 !important; 
    }
    .commute-late-event { 
    	border-left: 4px solid #ffab00 !important; 
    } 

    .holiday-event:hover, 
    .commute-go-event:hover, 
    .commute-leave-event:hover, 
    .commute-late-event:hover {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }